#admin-home-content {
  margin-top: 16vh !important;
  margin-left: 64px;
  margin-right: 20px;
}
body {
  background-color: #f3f7f7 !important;
}
.admin-home-header {
  background: #7e04b6;
}
.admin-home-title {
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}
.admin-home-body {
  margin-right: 50px;
  margin-top: 30px;
}
.admin-home-body .row {
  width: 100%;
  margin-top: 70px;
  margin-left: 10px;
  margin-bottom: 40px;
  position: sticky;
}
.admin-home-body .card {
  padding-left: 10px;
  height: 200px;
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease;
  cursor: pointer;
}
.admin-home-body .card:hover {
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.9);
  transform: scale(1.1);
}
.blocks-title {
  text-align: left;
  padding-top: 10px;
  font-size: 20px;
  color: #282639;
}
.admin-home-body .backbt {
  display: block;
  width: 40%;

  outline: none;
  border: 2px solid #7e04b6;

  background-size: 200%;
  font-size: 1.1rem;
  color: #7e04b6;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;

  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
}
.admin-home-body .backbt:hover {
  background-position: right;
  text-decoration: none;
  border: 2px solid #c78ae4;
}
.admin-home-body .backbt {
  float: right;
}

/* ========================================================= */
.register-someone-back-parent {
  z-index: 50;
  width: 100%;
  height: 200px;
  display: flex;
  text-align: right;
}

.register-someone-background {
  font-size: 150px;
  color: #e3ccee;
  align-self: right;
  margin-top: 40px;
  margin-left: 145px;
}
.register-someone-content {
  /* background: url("/images/icons/Register.svg") right no-repeat; */
  z-index: 100;
  transform: translateY(-200px);
}
