<%- include("../partials/headerAdminDashboard")%>

<p class="black-text">
  Minimum days passed since child's registration :
</p>
<h4>90</h4>

<br />
<div class="personalinfo child-view jade ml-5 pl-5">
  <form action="">
    <!--image-->

    <h5 for="" class="white-text">
      ELIGIBILITY CRITERIA FOR ANY CHILD TO BE ELIGIBLE FOR ADOPTION
    </h5>

    <hr />
    <div class="form-group">
      <label for="" class="fields"
        >Minimum days passed since child's registration :</label
      >
      <br />
      <div class="" id="edit-child-details-edit-icon-parent-1">
        <label for="" class="values">90</label>

        <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="90"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="" class="fields"
        >Least number of days the child should be recorded present in the CCI
        :</label
      >
      <br />
      <div class="" id="edit-child-details-edit-icon-parent-1">
        <label for="" class="values">50</label>

        <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="50"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="" class="fields"
        >Average Number of guardian visits per month (Over the last 12 months).
        Children having less than which will be considered for the adoption
        eligibility pool:
      </label>
      <br />
      <div class="" id="edit-child-details-edit-icon-parent-1">
        <label for="" class="values">4</label>

        <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="4"
        />
      </div>
    </div>
    <hr />
    <div class="form-group">
      <label for="" class="fields"
        >Average Number of guardian visits per month (Over the last 12 months).
        Children having less than which will be considered for the adoption
        eligibility pool:
      </label>
      <br />
      <div class="" id="edit-child-details-edit-icon-parent-1">
        <label for="" class="values">4</label>

        <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="4"
        />
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <label for="" class="fields fieldlabels black-text">
          Relevence to biological parents : <br />
        </label>
        <label for="" class="fields fieldlabels black-text">
          <p class="black-text">
            Exclude Cases where biological parents are still alive, mentally and
            physically sound <br />
            and have no recorded case of abuse or exploitation against the
            child.
          </p>
        </label>
        <select name="religion" class="form-control">
          <option value="">
            Exclude Cases where biological parents are still alive </option
          ><option
            >Exclude Cases where biological parents are alive and mentally sound
          </option>
          <option
            >Exclude Cases where biological parents are alive and mentally and
            physically sound</option
          >
          <option
            >Exclude Cases where biological parents are still alive and mentally
            sound and have no recorded case of abuse or exploitation against the
            child</option
          >
          <option>None</option>
        </select>
      </div>
    </div>
  </form>
</div>
