<%- include("../partials/headerAdminDashboard")%>

<section id="admin-home-content">
  <div class="admin-home-header">
    <h2 class="admin-home-title">ELIGIBILITY CRITERIA FOR ANY CHILD TO BE ELIGIBLE FOR ADOPTION</h2>
  </div>
  <div class="eligibility-criteria-body container p-5">
    <div class="personalinfo p-4">
      <div class="form">
          <br>
        <div class="form-group">
          <label for="" class="fields">Minimum days passed since child's registration </label>
          <div class="" id="edit-child-details-edit-icon-parent-1">
          </div>
          <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="90"
          placeholder=""
        />
      </div>
      <hr>
      <div class="form-group">
        <label for="" class="fields">Least number of days the child should be recorded present in the CCI</label>
        <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="50"
          placeholder=""
        />
      </div>
      <hr>
      <div class="form-group">
        <label for="" class="fields">Average Number of guardian visits per month (Over the last 12 months).
          Children having less than which will be considered for the adoption
          eligibility pool:</label>
          <input
          type="number"
          name="firstName"
          id="fname"
          class="form-control"
          value="4"
          placeholder=""
        />
      </div>
      <hr>
      <div class="form-group">
        <label for="" class="fields"> Relevence to biological parents :</label>
        <p class="black-text">
          Exclude Cases where biological parents are still alive, mentally and
          physically sound <br />
          and have no recorded case of abuse or exploitation against the
          child.
        </p>
        <select name="religion" class="form-control">
          <option value="">
            Exclude Cases where biological parents are still alive </option
          ><option
            >Exclude Cases where biological parents are alive and mentally sound
          </option>
          <option
            >Exclude Cases where biological parents are alive and mentally and
            physically sound</option
          >
          <option
            >Exclude Cases where biological parents are still alive and mentally
            sound and have no recorded case of abuse or exploitation against the
            child</option
          >
          <option>None</option>
        </select>
      </div>
      
    </div>
  </div>
</section>
