<%- include("../partials/headerAdminDashboard")%>

<div class="salamander ml-5 mt-5 p-5">
  <div>
    <hr />
    <br />
    <h5>ELIGIBILITY CRITERIA FOR ANY CHILD TO BE ELIGIBLE FOR ADOPTION</h5>
    <br />
    <hr />
    <br />
    <p class="black-text">
        Minimum days passed since child's registration :
      </p>
      <h4>90</h4>
    <p class="black-text">
      Least number of days the child should be recorded present in the CCI :
    </p>
    <h4>50</h4>
    <p class="black-text">
      Average Number of guardian visits per month. Children having less than which will be considered for the adoption eligibility pool:
      <h4>4</h4>
    </p>
    <p class="black-text">
        Average Number of guardian visits per month. Children having less than which will be considered for the adoption eligibility pool:
        <h4>4</h4>
        Number of guardian visits in the last three months : 
        <h4>10</h4>
      </p>
    <p class="black-text">
        Relevence to biological parents :
        Exclude cases where biological parents are still alive
        Exclude Cases where biological parents are still alive, and considered mentally and physically
        Exclude Cases where biological parents are still alive, and mentally and physically sound and have no recorded case of abuse or exploitation against the child
        None
    </p>
    <p class="black-text">
        Relevence to close living relatives :
        Exclude cases where more than 1 close relative alive and mentally sound.
    </p>
    <br />

    <form action="">
        <div class="personalinfo child-view jade">
            <!--image-->
            <div class="image">
                <img src="/images/icons/usericon.svg" alt="">                  
            </div>
            <h5 for="" class="white-text">ELIGIBILITY CRITERIA FOR ANY CHILD TO BE ELIGIBLE FOR ADOPTION</h5>
               
            <hr>
            <div class="form-group">
                <label for="" class="fields">Least number of days the child should be recorded present in the CCI :</label>   <br>
                <div class="" id="edit-child-details-edit-icon-parent-1">
                    <label for="" class="values ">200</label>
                    <i class="fa fa-pencil-square-o " ></i>
                    <input type="number" name="firstName" id="fname" class="form-control" value="200">
                       
                </div>
            </div> 
            <div class="form-group">                               
                <div class="row position">
                    <div class="col-sm-6">
                        <label for="" class="fields">DATE OF BIRTH</label> <br>
                        <label for="" class="values"> child.dateOfBirth %></label>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="fields">AGE</label> <br>
                        <label for="" class="values view-child-details-data"> child.age %></label>
                    </div>                             
                </div>                   
            </div>

            

            <div class="form-group">                               
                <div class="row position">
                    <div class="col-sm-6">
                        <label for="" class="fields">GENDER</label> <br>
                        <label for="" class="values view-child-details-data"> child.gender.toUpperCase() %></label>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="fields">CASTE</label> <br>
                        <label for="" class="values view-child-details-data"> child.caste %></label>
                    </div>                             
                </div>                   
            </div>

            

            <div class="form-group">
                <label for="" class="fields">AADHAAR NUMBER</label> <br>
                <label for="" class="values view-child-details-data">724689189479719</label>
            </div> 

            
            <div class="form-group">                               
                <div class="row position">
                    <div class="col-sm-6">
                        <label for="" class="fields">FATHER'S NAME</label> <br>
                        <label for="" class="values view-child-details-data"> child.fatherName.toUpperCase() %></label>
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="fields">MOTHER'S NAME</label> <br>
                        <label for="" class="values view-child-details-data"> child.motherName.toUpperCase() %></label>
                    </div>                             
                </div>                   
            </div>


            <hr>
            <div class="form-group">
                <div class="row position">        
                    <div class="col-sm-4">
                        <label for="" class="fields">BLOOD GROUP</label> <br>
                        <label for="" class="values view-child-details-data">A(+ve)</label>
                    </div>
                    <div class="col-sm-4">
                        <label for="" class="fields">HIEGHT</label><br>
                         <label for="" class="values view-child-details-data">4 feet</label>  
                    </div>
                    <div class="col-sm-4">
                        
                        <label for="" class="fields">WEIGHT</label> <br>
                        <label for="" class="values view-child-details-data">35 kgs</label>
                    </div>
                </div>
                
            </div> 
            
            

            
                <div class="row position">
                
                    <div class="col-sm-6">
                        <label for="" class="fields">GUARDIAN 1</label>
                        <div class="form-group">
                            <label for="" class="fields">NAME</label>
                            <label for="" class="values">Someone Pratap Singh</label>
               
                        </div> 
                        <div class="form-group">
                            <label for="" class="fields">AGE</label>
                           <label for="" class="values">35</label>
                        </div> 
                    </div>
                    <div class="col-sm-6">
                        <label for="" class="fields">GUARDIAN 2</label>
                        <div class="form-group">
                            <label for="" class="fields">NAME</label>
                            <label for="" class="values">KBC Pratap Singh</label>
                           
                        </div> 
                        <div class="form-group">
                            <label for="" class="fields">AGE</label>
                           <label for="" class="values">40</label>
                        </div> 
                    </div>
                   
                </div>
            </div> -->
            
           
             <div class="form-group">
                <label for="" class="fields">PHYSICALLY CHALLENGED</label><br>
                <label for="" class="values view-child-details-data">No</label>
            </div> 
            <div class="form-group">
                <label for="" class="fields">MENTAL ILLNESS</label><br>
                <label for="" class="values view-child-details-data">No</label>
            </div> 
            
        
        
            <p class="infoheading">Official Information</p>
            <hr>
           
            <div class="form-group">
                <label for="" class="fields">ASSIGNED CCI NAME</label> <br>
                <label for="" class="values"> child.cci_name %></label>
            </div> 
            <div class="form-group">
                <label for="" class="fields">REGISTRATION DATE AND TIME</label> <br>
                <label for="" class="values view-child-details-data"> child.registrationDate %></label>
            </div>
           
            <div class="form-group">
                <label for="" class="fields">WITNESS</label> <br>
                <label for="" class="values view-child-details-data"> child.witness_name + " , " +child.witness_id%></label>
            </div> 
        
        
           
       
   </form>


  </div>
</div>
