<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>In Out Movement List</title>
    <link rel="stylesheet" href="css/in-out-movement.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rowdies&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" href="/stylesheets/dcpu/dcpu-dashboard.css" />
  <link rel="stylesheet" href="/stylesheets/adoption pool/adoptionpool.css" />
</head>
<body>
    <section id="sideMenu">
        <nav id="sidemenu-flexbox">
  
          <a
            class="active current"
            href="homepage.html"
            title="Home"
            ><i class="fa fa-home current2" aria-hidden="true"></i
          ></a>
          <a
          class="active"
          href="#"
          title="CWC Employee Registration"
          ><i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
  
        <a
           class="active"
           href="#"
           title="CWC Registration"
            ><i class="fa fa-building" aria-hidden="true"></i
        ></a>
  
          <a
            class="active"
            href="indexccireg.html"
            title="Help"
            ><i class="fa fa-question" aria-hidden="true"></i
          ></a>
  
          <a class="active" href="indexccidetails.html" title="Log Out"
            ><i class="fa fa-sign-out-alt" aria-hidden="true"></i>
          </a>
  
        </nav>
      </section>
  
    <div clas="flex-vertical">
        <header>
          <nav class="dashboard-nav navbar fixed-top navbar-light border-bottom">
            <div class="container">
              <a class="" href="#"></a>
    
              <div id="dashboard-icons-container">
    
                <h6 class="dashoard-nav-icon"><%= employee.email.toUpperCase() %></h6>
                <a href="" title="Profile">
                  <i class="dashoard-nav-icon fa fa-user"></i>
                </a>
                <a href="" title="Notifications"
                  ><i class="dashoard-nav-icon fa fa-bell"></i>
                </a>
                <a href="" title="Messages"
                  ><i class="dashoard-nav-icon fa fa-envelope"></i
                ></a>
                <a href="" title="Add Child"
                  ><i class="dashoard-nav-icon fa fa-plus"></i
                ></a>
    
              </div>
            </div>
          </nav>
          <nav class="dashboard-nav-second navbar fixed-top navbar-light">
            <div class="container">
              <a class="dashboard-nav-brand navbar-brand" href="#"> CARE</a>
            </div>
          </nav>
        </header>
    </div> 
    <!--Ending of Dashboard and beginning of in-out movement page-->
    <section id="adoption-content">
        <div class="adoption-pool-header">
            <p class="adoption-title">List Of Children In Adoption Pool</p>
          </div>
          <div class="adoption-image">
            <img src="/images/adoption.jpg" alt="">
            
        </div> 
        <div class="adoption-pool-body container">
            <p class="strength-in-pool text-muted">Total number of children : <span class="strength-value">3</span></p>
        </div>
        <div class="adoption-pool-table container my-5">
            <div class="in-out-table">
                <table>
                    <thead>
                         <tr>
                             <th>
                                CHILD ID
                             </th>
                             <th>
                                 CHILD NAME
                             </th>
                             <th>
                                 CCI ID
                             </th>
                             <th>
                                 AGE OF CHILD
                             </th>
                             <th>
                                DATE OF BIRTH
                            </th>
                            <th>
                                MEDICAL STATUS
                            </th>
                            <th>
                                WITNESS'S ID
                            </th>
                            
                         </tr>
                    </thead>
                    <tbody>
                         <tr class="border-bottom">
                            <td class="id">001</td>
                            <td>Someone</td>
                            <td>CCIJH03</td>
                            <td>12</td>
                            <td>August 20,2007</td>
                            <td><a class="medical-report" href="#">Click to view</a></td>
                            <td>CWCEM03</td>

                             
                            
                         </tr>
                         <tr class="border-bottom">
                            <td class="id">001</td>
                            <td>Someone</td>
                            <td>CCIJH03</td>
                            <td>12</td>
                            <td>August 20,2007</td>
                            <td><a class="medical-report" href="#">Click to view</a></td>
                            <td>CWCEM03</td>
                         </tr>
                         <tr>
                            <td class="id">001</td>
                            <td>Someone</td>
                            <td>CCIJH03</td>
                            <td>12</td>
                            <td>August 20,2007</td>
                            <td><a class="medical-report" href="#">Click to view</a></td>
                            <td>CWCEM03</td>
                         </tr>
                         
                    </tbody>
                </table>
            </div>
    </section>          
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
 
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
</body>
</html>