<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Child Study Report</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rowdies&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/stylesheets/csr/csr.css" />
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
 
</head>
<body>
    <section id="csr-content">
        <div class="csr-header">
            <h2 class="csr-title">Child Study Report</h2>
        </div>
        <div class="csr-body container">
            <div class="csr-body-part1">
                <div class="row">
                    <div class="col-md-6 csr-initials">
                        <div class="form-group">
                            <label for="" class="fields">CCI NAME</label>
                            <label for="" class="values">KBC Child Care</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="fields">CCI ID</label>
                            <label for="" class="values">KBC Child Care</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="fields">CHILD REGISTRATION NUMBER</label>
                            <label for="" class="values">KBC Child Care</label>
                        </div>
                        <div class="form-group">
                            <label for="" class="fields">CHILD ID</label>
                            <label for="" class="values">KBC Child Care</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="child-photo">
                            <img src="" alt="child's photo">
                        </div>
                    </div>
                </div>
            </div>
            <div class="csr-body-part2">
                <h4 class="section-heading">General Information</h4>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">CHILD NAME</label>
                    <label for="" class="values ">Sushant Singh Rajpoot</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">DATE OF BIRTH</label>
                    <label for="" class="values">19 July,2010</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="fields">AGE</label>
                            <label for="" class="values ">10</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="fields">RELIGION</label>
                            <label for="" class="values ">Hinduism</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="" class="fields">CATEGORY</label>
                            <label for="" class="values ">Surrendered</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="fields">REGISTRATION DATE</label>
                    <label for="" class="values ">10 April,2015</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">DATE WHEN THE CHILD WAS DECLARED LEGALLY FREE</label>
                    <label for="" class="values ">15 June,2020</label>
                </div>
            </div>
            <div class="csr-body-part3">
                <h4 class="section-heading">Social Data</h4>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">MEANS BY WHICH CHILD WAS ADDMITTED IN THE CCI</label>
                    <label for="" class="values ">Placed By Child Welfare Commitee</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">LANGUAGE SPOKEN BY CHILD</label>
                    <label for="" class="values ">Hindi</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">BEHAVIOUR WITH OTHERS</label>
                    <label for="" class="values ">GOOD</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">PLAY SKILLS</label>
                    <label for="" class="values ">Good at Cricket</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">COMMUNICATION SKILLS AND SOCIAL SKILLS</label>
                    <label for="" class="values ">Specify them</label>
                </div>
                <div class="form-group">
                    <label for="" class="fields">SOCIAL BACKGROUND DETAILS</label>
                    <p class="values social-background">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint eos soluta, vero saepe repellat culpa delectus aut iure laudantium facilis doloribus ad obcaecati quia temporibus natus quisquam. Nihil, voluptatem amet!</p>
                </div>
            </div>
            <div class="csr-body-part4">
                <div class="form-group">
                    <input type="checkbox" class="confirm-box">
                    <label for="" class="values">I hereby declare that the information about the child is correct and now it can be moved to the <span class="csr-confirm">Adoption Pool</span>.</label>
                </div>
                <div class="form-group">
                    <a class="btn  btn-outline-success colora btn-lg" href="#" role="button">SUBMIT</a>
                </div>
            </div>
        </div>
    </section>
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
</body>
</html>