<!DOCTYPE html>
<html>
<head>
	<title>CARE HOME</title>
</head>
<body>
	<h1>Welcome to CARE Home Page</h1>
	<h2>LOGIN FOR:</h2>
	<h3><a href="/cwc">CWC</a></h3>
	<h4><a href="">CCI</a></h4>
	<h5><a href="">OTHER</a></h5>
</body>
</html>