<html>
    <head>

    </head>

    <body>
        <h1>Login for <%= category %></h1>

        <form action="/login/<%= category %>" method="post">
            email : <input type="text" name="email" value="you@you.com">        <br>
            password : <input type="text" name="password" value="password">  <br>
            <input type="submit" name="" value="LogIn">
        </form>


    </body>
</html>