<html>
    <head>

    </head>

    <body>
        <h1> Who do you want to login as? </h1>
        <a href="/login/cwcemployee">cwcemployee</a>    <br>
        <a href="/login/cciemployee">cciemployee</a>        <br>
        <a href="/login/liason">liason</a>          <br>
        <a href="/login/admin">admin</a>            <br>
    </body>
</html>