<!DOCTYPE html>
<html>
  <head>
    <title>
    
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <body>



<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br><br> <h2 style="color:#0fad00">Successfully registered.</h2>
        <img src="https://img.icons8.com/cute-clipart/64/000000/thumb-up.png"/>
        
        <p style="font-size:20px;color:#5C5C5C;">Details of the Child has been registered to the database.</p>
        <p>This is the Child Id: <h2><%= C_Id %></h2>. Sent to the CCI :<h2><%= cciname %></h2>.  </p><p>Click below to go to the CWC home page.</p>
        <a href="/" class="btn btn-success">     CWC Home      </a>
    <br><br>
        </div>
        
	</div>
</div>
  </body>
</html>