*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 33%;
    border: 3px solid white;
    border-radius: 50px;
    color: white;
}
.pageturn{
    text-decoration: none;
    color: aliceblue;

}
.pageturn:hover{
    color: darkmagenta;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0;
    cursor: pointer;
  


}
.brand{
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

.nav-list{
    width: 70%;
 /*   background-color: navy; */
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    

}

.nav-list li{
    list-style: none;
    padding: 26px 30px;
   


}

.nav-list li a{
    text-decoration: none;
    color: white;

}
body{
    background: rgba(0, 0,0, 0.5) url('../images/background-images/index-background.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;

}
.background3{
    /*background-image: linear-gradient(rgba(44, 238, 131, 0.8),rgba(44, 238, 131, 0.8));*/
   /* background: white;
    background-size: cover;*/
    background: repeating-linear-gradient(120deg,#d3d3d3 0px,white 870px,hsl(1,0% ,0%,0.5)250px,hsl(1,0%, 0%,0.5));
    
    
    
    
}




.background2{
    background: rgba(0, 0,0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}


.box-main{
    
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
       
}
.task{
    font-weight: bold;
}
.position{
 
    margin: 100px;
    text-align: center;   
}

.firstHalf .title{
    font-size: 50px;
}
.typing-style{
    font-size: 40px;
    padding-top: 10px;
}
.short-intro{
    font-size: 25px;
    padding-top: 10px;
}
.landing-login{
    padding-top: 10px;
}
.pageturn a:hover{
    color: darkmagenta;
    text-decoration: none;
}
.btn{
    padding: 10px 90px;
    margin: 7px 2px;
    border: 3px solid white;
    font-size: 25px;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    cursor: pointer;
}
.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;
}
.text-footer{
    text-align: center;
    padding: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: white;
    margin: 0;
}
.pageturn{
    color: darkmagenta !important;
    text-decoration: none !important;
}
footer{
    background: rgba(0, 0,0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
}



.about-section{
    margin: 30px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0,0, 0.5);
    background-color: transparent;
    display: flex;

}
.info-care{
    width: calc(70% - 50px);
    padding-top: 10px;
    color: #282639;
    height: 100%;
    font-size: 20px;
    line-height: 1.5em;
    text-align: justify;
}
.about{
    padding: 10px;
}
.head{
    width: calc(30% + 70px);
    height: 100%;
    color: #fff;

    
    
}
.head .about-heading{
    float: right;
    padding-right: 10px;
    
}
.impact-section{
    margin: 30px;
    padding: 10px;
    box-shadow: 0 10px 30px rgba(0, 0,0, 0.5);
}
.flex-container{
    height: 350px;
    background: repeating-linear-gradient(120deg,#d3d3d3 0px,transparent 450px,hsl(283,46%,42%)250px,hsl(283,46%, 42%));
    
}
.fields .row{
    width: 100%;
}
.part-1{
    height: 300px;
    width: 300px;
    border-bottom: 50%;
    
    top: 10%;
    margin-left: 200px;
    
    color: black;
    position: relative;
    text-align: center;
}
.working{
    border-radius: 50%;
    border: 5px solid #d3d3d3;
    position: absolute;
    max-width: 400px;
    top: 0;
    right: 0;
    bottom: 0;
    left: -10px;
    display: block;
    margin: auto;
}

.impact-section .fields{
    font-size: 20px;
    font-weight: bolder;
    margin-right: 10px;
    color: white;
    font-weight: 100;
    margin-left: 610px;
    margin-top: -195px;
    position: relative;
    letter-spacing: 3px;
}
.fields .fa{
    font-size: 10rem;
}
.benefit{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
