*{
    margin: 0;
    padding: 0;
}
.jumbotron{
    margin-top: 20px;
    background: rgba(0, 0,0, 0.5) url('../images/smile.jpeg');
    background-size: cover;
    color: black;
    font-family: 'Poppins', sans-serif;

}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    
   
    
}
.card{
    margin-left: 5px !important;
    margin-right: 5px !important;
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black !important;
    background:rgb(58, 57, 57) !important;
    color: #fff !important;
}
.imgBox{
    position: relative;
    width: 100%;
    height: 150px;
    padding-left: 100px;

}
.imgBox img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: calc(50% ,- 50%);
    border-radius: 50%;
    border: 1px solid wheat;
    
}
h4{
    font-size: 24px;
    text-align: center;
    padding: 55px 0;
   
}
.more{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s;
}
.more:hover{
    background: #272727;
    border-color: #272727;
}
.liquid{
    position: absolute;
    width: 400px;
    height: 400px;
    background: #4973ff;
    top: 0;
    left: -75px;
    z-index: -1;
    
    
    box-shadow: inset 0 0 50px rgba(0,0,0,.5);
    transition: .5s;
}
.liquid:before,
.liquid:after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 200%;
    height: 200%;
    transform: translate(-50%,-65%);
    transition: 1s ease-in-out;
}
.liquid:before{
    background: rgba(58, 57, 57,1);
    border-radius: 45%;
    animation: wave 4s infinite linear;
}
.liquid:after{
    background: rgba(58, 57, 57,.5);
    border-radius: 40%;
    animation: wave 4s infinite linear;
}

.wave{
    position: relative;
    width: 100%;
    height: 100%;
    background: #4973ff;
    
    box-shadow: inset 0 0 50px rgba(0, 0,0, 0.5);
}
.wave:before,
.wave:after{
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%,-75%);
    

}
.wave:before{
    border-radius: 45%;
    background: rgba(58, 57, 57,1);
    animation: animate 5s linear infinite;
}
.wave:after{
    border-radius: 40%;
    background: rgba(58, 57, 57,.5);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: translate(-50%,-65%) rotate(0deg);
    }
    100%{
        transform: translate(-50%,-65%) rotate(360deg);
    }


}
.card:hover .wave:before,
.card:hover .wave:after{
    top: -45%;
}
.text-footer{
    text-align: center;
    padding: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: white;
    margin: 0;
}
.background2{
    background: rgba(0, 0,0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
