*{
    margin: 0;
    padding: 0;
}
.jumbotron{
    margin-top: 20px;
    background: rgba(0, 0,0, 0.5) url('../images/smile.jpeg');
    background-size: cover;
    color: black;
    font-family: 'Poppins', sans-serif;

}
.colora{
    color: black !important;
}
section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 90px;
    
   
    
}
.card{
   position: relative;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black !important;
    background:rgb(58, 57, 57) !important;
    color: #fff !important;
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.6);
    transition: .5s ease;
    cursor: pointer;
}
.card:hover{
    -webkit-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.9);
    -moz-box-shadow:-1px 9px 40px -12px rgba(0,0,0,0.9);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.9);
    transform: scale(1.1);
}
.imgBox{
    position: relative;
    width: 100%;
    height: 150px;
    padding-left: 70px;

}
.imgBox img{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 25px;
    left: calc(50% ,- 50%);
    border-radius: 50%;
    border: 1px solid wheat;
    
}
h4{
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    z-index: 99999 !important;
    position: sticky;
    color: #fff;

}


.more{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color:#fff;
    text-decoration: none !important;
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s;
}
.more:hover{
    background: #272727;
    border-color: #272727;
}

.text-footer{
    text-align: center;
    padding: 3px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: white;
    margin: 0;
}
.background2{
    background: rgba(0, 0,0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
a{
    text-decoration: none !important;
    color: #fff !important;
}
