/* .form-container{
    padding-top: 100px;
    border: 2px solid red;
    
} */

.main {
  width: 900px;
  margin: auto;
  color: black;

  border-radius: 0px 0px 15px 15px;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #fff;
}

#sideMenu {
  background: #7e04b6 !important; /*  #382043 */
  position: fixed;
  top: 70px;
  left: 0;
  width: 50px;
  height: 100vh;
  z-index: 99999;
  transition: all 0.3s ease;
}

nav {
  padding-top: 50px;
  background: #7e04b6;
}
a.active {
  display: block;
  color: #d3d3d3;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.fa {
  color: white;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 20px;
  position: relative;
  top: 2px;
}

a.active:hover {
  background: #ffffff;
  color: #7e04b6;
  text-decoration: none;
  border-left: 5p x solid #4b056b;
}
a.active:hover i {
  color: #7e04b6;
}

.current {
  background: #ffffff !important; /*380450*/
  color: #380450 !important;
  border-left: 2px solid #ffffff;
}

.current2 {
  background: white !important;
  color: #380450 !important;
}

/* header code*/

/* By Shraddha ==================================================== */
#sidemenu-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-nav {
  background-color: white;
  width: 100%;
  height: 70px;
  /* border-bottom: 0.05px solid white; */
}

.dashboard-nav-brand {
  color: white !important;
  font-family: "Rowdies", cursive;
  font-size: 35px;
}

#dashboard-icons-container {
  display: flex;
  justify-content: space-between;
  width: 340px;
}

.dashoard-nav-icon {
  color: #9c36cc;
}

.dashboard-nav-second {
  background-color: #7e04b6;
  width: 160px;
  height: 70px;
}
