<%- include("../partials/headerCwcDashboard")%>


<section id="child-registration-form-parent">
<div class="container-fluid  ">
  <div class="row justify-content-center child-registration ">
    <div
      class="p-4"
    >
      <div class="card light-purple2">
        <h2 id="heading" class="mt-3 purple-text">Register a new child</h2>        
        <img src="/images/cwc/happykids.png" class="happykids-img" alt="">        
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="personal"><strong>CHILD INFORMATION</strong></li>
            <li id="account"><strong>MEDICAL</strong></li>           
            <li id="payment"><strong>GUARDIANS</strong></li>
            <li id="confirm"><strong>FINISH</strong></li>
          </ul>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <br />
          <!-- fieldsets -->
          <fieldset>
            <div class="form-card  ">
              <div class="row pt-3 ">
                <div class="col-7">
                  <h2 class="steps purple-text">STEP 1 OF 4</h2>
                </div>
                <div class="col-5">
                </div>
              </div>
              
              <div class="personalinfo">
                <p class="infoheading">CHILD INFORMATION</p><hr />
                <div class="form-group">

                    <label for="" class="fields">Name Of Child</label>                  
                    <div class="row position">                    
                      <div class="col-sm-4">                            
                        <input type="text" name="firstName" id="fname" class="form-control" placeholder="First Name">
                      </div>
                      <div class="col-sm-4">                            
                        <input type="text" name="mname" id="mname" class="form-control" placeholder="Middle Name">
                      </div>
                      <div class="col-sm-4">                            
                        <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
                      </div>
                    </div>

                </div> 

                <div class="form-group">                                
                  <div class="row position"> 
                    <div class="col-sm-6">
                      <label for="" class="fields">DATE OF BIRTH</label>
                      <input type="date" name="dateOfBirth" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                    </div>                   
                    <div class="col-sm-6">
                      <label for="" class="fields">AGE OF CHILD (If Date of Birth is Unknown) </label>
                      <input type="text" name="age" id="age" class="form-control" placeholder="Estimated Age of the Child">
                    </div>                                           
                  </div>                    
                </div>

                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="aadharNumber" id="adhaarnum" class="form-control" placeholder="">
                </div> 
                
                <div class="form-group">
                    <label for="" class="black-text fields fieldlabels">FATHER'S NAME</label>
                    <input type="text" name="fatherName" id="adhaarnum" class="form-control" placeholder="">
                </div> 
    
                <div class="form-group">
                    <label for="" class="black-text fields fieldlabels">MOTHER'S NAME</label>
                    <input type="text" name="motherName" id="adhaarnum" class="form-control" placeholder="">
                </div> 

                <div class="form-group">
                  <label for="" class="fields">GENDER</label>
                  <div class="row position">                    
                    <div class="col-sm-1">                            
                      <label for="" class="radio">
                        <input type="radio" class="radio-one" name="gender">
                        <span class="checkmark"></span>
                        Male
                      </label>
                    </div>
                    <div class="col-sm-1">                           
                      <label for="" class="radio">
                        <input type="radio" class="radio-one" name="gender">
                        <span class="checkmark"></span>
                        Female
                      </label>
                    </div>
                    <div class="col-sm-1">                                                      
                      <label for="" class="radio">
                        <input type="radio" class="radio-one" name="gender">
                        <span class="checkmark"></span>
                        Others
                      </label>
                    </div>
                    <div class="col-sm-9">                      
                    </div>
                  </div>
                 </div>  

                 <div class="form-group">
                    <label for="" class="fields">CASTE CATEGORY</label>
                    <div class="row position">
    
                        <div class="col-sm-2">                       
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                GEN
                            </label>
                        </div>
                        <div class="col-sm-2">                        
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                OBC
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                SC
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                ST
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                Other
                            </label>
                        </div>
                    </div>
                 </div>
    
                 <div class="form-group">
                    <label for="" class="fields fieldlabels">  RELIGION</label>
                    <select name="religion" class="form-control">
                      <option disabled="disabled" selected="selected">-----------------Select----------------</option>
                      <option>Hinduism</option>
                      <option>Buddhism</option>
                      <option>Islam</option>
                      <option>Sikhism</option>
                      <option>Christianity</option>
                      <option>Jainism</option>
                  </select>
                </div> 
                <div class="form-group">
                    <label for="" class="fields fieldlabels">  NATIONALITY</label>
                    <select name="nationality" class="form-control">
                      <option disabled="disabled" selected="selected">-----------------Select----------------</option>
                      <option>Indians</option>
                      <option>Others</option>
                      
                      
                  </select>
                </div> 
            </div>                                  
        </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />

    </fieldset>
    <fieldset>

        <div class="form-card">
          <div class="row pt-3 ">
            <div class="col-7">
              <h2 class="steps purple-text">STEP 2 OF 4</h2>
            </div>
            <div class="col-5">
            </div>
          </div>
                   
          <div class="healthinfo">
            <p class="infoheading">MEDICAL INFORMATION</p>
                <hr>
            <div class="form-group">                                    
                <div class="row position">                   
                        <div class="col-sm-4">
                            <label for="" class="fields">BLOOD GROUP</label>
                            <input type="text" name="bloodgp" id="bloodgp" class="form-control" placeholder="Blood Group">
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="fields">HIEGHT</label>
                            <input type="text" name="hieght" id="hieght" class="form-control" placeholder="Hieght(in feets)">
                        </div>
                        <div class="col-sm-4">
                            
                            <label for="" class="fields">WEIGHT</label> 
                           <input type="text" name="weight" id="weight" class="form-control" placeholder="Weight(in kgs)">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY CHRONIC ILLNESS</label>
                    <div class="row position">
                    
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="chronic_disease">
                              <span class="checkmark"></span>
                              Yes
                          </label>
                      </div>
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="chronic_disease">
                              <span class="checkmark"></span>
                              No
                          </label>
                      </div>
                      
                  </div>
                </div>
                <div class="form-group">
                    <label for="" class="fields">ALLERGIC TO ANY PARTICULAR MEDICINE/FOOD OR ANYTHING ELSE</label>
                    <div class="row position">
                    
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="allergy">
                              <span class="checkmark"></span>
                              Yes
                          </label>
                      </div>
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="allergy">
                              <span class="checkmark"></span>
                              No
                          </label>
                      </div>
                      
                  </div>
                </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY PHYSICAL INJURIES</label>
                    <div class="row position">
                    
                        <div class="col-sm-3">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury" value="cuts">
                                <span class="checkmark"></span>
                                Cuts
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury" value="burns">
                                <span class="checkmark"></span>
                                Burns
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury" vlaue="others">
                                <span class="checkmark"></span>
                                Others
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury">
                                <span class="checkmark"></span>
                                None
                            </label>
                        </div>
                    </div>
                 </div> 
                 <div class="form-group">
                    <label for="" class="fields">PHYSICALLY CHALLENGED</label>
                    <div class="row position">
                    
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="physicalchallenge">
                              <span class="checkmark"></span>
                              Yes
                          </label>
                      </div>
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="physicalchallenge">
                              <span class="checkmark"></span>
                              No
                          </label>
                      </div>
                      
                  </div>     
                  </div> 
                <div class="form-group">
                    <label for="" class="fields">MENTAL ILLNESS</label>
                    <div class="row position">
                    
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="mentalhealth">
                              <span class="checkmark"></span>
                              Yes
                          </label>
                      </div>
                      <div class="col-sm-6">
                          
                          <label for="" class="radio name">
                              <input type="radio" class="radio-one" name="mentalhealth">
                              <span class="checkmark"></span>
                              No
                          </label>
                      </div>
                      
                  </div> 
                  </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY DISEASE FROM WHICH THE CHILD IS CURRENTLY SUFFERING</label>
                    <input type="text" name="disease" id="disease" class="form-control" placeholder="If yes then Specify name of disease">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">Comments on the child's present and past health : </label>
                    <textarea type="textarea" name="disease" id="further-comments" class="form-control" placeholder=""> </textarea>
                </div> 
                <br>

                <label class="fieldlabels">Upload Medical Reports/ Prescription:</label>
              <input type="file" name="pic" accept="image/*" />
              <label class="fieldlabels">Upload Medical Reports/ Prescription:</label>
              <input type="file" name="pic" accept="image/*" />
            </div>

        </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
          </fieldset>
          
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Official Details:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 3 - 4</h2>
                </div>

              </div>
              <input type="text" name="cci_id" placeholder=" ID" />
              <div class="guardianinfo">
                <p class="infoheading">GUARDIAN INFORMATION</p>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">GUARDIAN 1</label>
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <input type="text" name="g1fname" id="g1fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
                            
                            <input type="text" name="g1mname" id="g1mname" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="col-sm-4">
                            
                            
                           <input type="text" name="g1lname" id="g1lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    
                       
                    <div class="row position">                    
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE</label>
                            <input type="text" name="age" id="age" class="form-control" placeholder="Age of child">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE OF BIRTH</label>
                            <input type="date" name="dob" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                        </div>                      
                    </div>

                    
                </div>

                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">CONTACT NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <hr>
                <div class="form-group">
                    <label for="" class="fields">GUARDIAN 2</label>
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <input type="text" name="g2fname" id="g2fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
                            
                            <input type="text" name="g2mname" id="g2mname" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="col-sm-4">
                            
                            
                           <input type="text" name="g2lname" id="g2lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    
                       
                    <div class="row position">                   
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE</label>
                            <input type="text" name="age" id="age" class="form-control" placeholder="Age of child">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE</label>
                            <input type="date" name="dob" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                        </div>                       
                    </div>                   
                </div>
                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">CONTACT NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 
            </div>


              <div class="form-group">
                <label class="fieldlabels">Child Care Institute Name : *</label>
                <select class="form-control" id="cciSelect" name="cci_id" placeholder="Select CCI">
                  <% allCci.forEach(function(cci){ %>
                  <% let distname =  (cci.district); %>
                  <% distname = distname.toLowerCase(); %>
                  <% district = district.toLowerCase(); %>
                  <% let value =district.localeCompare(distname);%>
                  <%  if(value==0){ %>
                      <option value="<%= cci.cci_id %>">
                        <%= cci.cci_name%>
                      </option>
                  <%    }  %>
                  <%  });  %>                
                </select>
              </div>

          <label class="fieldlabels">Witness : </label> <%= employee.firstName + " " + employee.lastName %>
        </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
          </fieldset>
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Finish:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 4 - 4</h2>
                </div>
              </div>
              <br /><br />
              <h2 class="purple-text text-center">
                <strong>SUCCESS !</strong>
              </h2>
              <br />
              <div class="row justify-content-center">
                <div class="col-3">
                  <img
                    src="https://i.imgur.com/GwStPmg.png"
                    class="fit-image"
                  />
                </div>
              </div>
              <br /><br />
              <div class="row justify-content-center">
                <div class="col-7 text-center">
                  <h5 class="purple-text text-center">
                   Child has been registered
                  </h5>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</section>


<script src="/scripts/CWC/multi-step-form.js"> </script>

<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">      </script>    
</body>

</body>

</html>




<!-- <label class="fieldlabels">Username: *</label>
              <input type="text" name="uname" placeholder="UserName" />
              <label class="fieldlabels">Password: *</label>
              <input type="password" name="pwd" placeholder="Password" />
              <label class="fieldlabels">Confirm Password: *</label>
              <input
                type="password"
                name="cpwd"
                placeholder="Confirm Password"
              /> -->