<%- include("../partials/headerCwcDashboard")%>


<section id="child-registration-form-parent">
<div class="container-fluid">
  <div class="row justify-content-center">
    <div
      class="p-4 white"
    >
      <div class="card px-0 pt-4 pb-0 mt-3 mb-3 ">
        <h2 id="heading">Register a new child</h2>
        
        <img src="/images/cwc/happykids.png" class="happykids-img" alt="">
        
        <form id="msform">
          <!-- progressbar -->
          <ul id="progressbar">
            <li class="active" id="personal"><strong>Child Info</strong></li>
            <li id="account"><strong>Medical</strong></li>           
            <li id="payment"><strong>Official</strong></li>
            <li id="confirm"><strong>Finish</strong></li>
          </ul>
          <div class="progress">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
          <br />
        <!-- fieldsets -->
    <fieldset>
        <div class="form-card">
              <div class="row">

                <div class="col-7">
                  <h2 class="fs-title">Child Information:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 1 - 4</h2>
                </div>

              </div>
              
              <div class="personalinfo">
                <p class="infoheading">Child Information</p>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">Name Of Child</label>
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
                            
                            <input type="text" name="mname" id="mname" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="col-sm-4">
                            
                            
                           <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                
                   
                    <div class="row position">
                    
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE OF CHILD</label>
                            <input type="text" name="age" id="age" class="form-control" placeholder="Age of child">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE OF BIRTH</label>
                            <input type="date" name="dob" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                        </div>
                       
                    </div>

                    
                </div>
                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 
                <div class="form-group">
                    <label for="" class="fields fieldlabels">FATHER'S NAME</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Father's Name">
                </div> 
    
                <div class="form-group">
                    <label for="" class="fields fieldlabels">MOTHER'S NAME</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Mother's Name">
                </div> 
                <div class="form-group">
                    <label for="" class="fields">GENDER</label>
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="gender">
                                <span class="checkmark"></span>
                                Male
                            </label>
                        </div>
                        <div class="col-sm-4">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="gender">
                                <span class="checkmark"></span>
                                Female
                            </label>
                        </div>
                        <div class="col-sm-4">
                            
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="gender">
                                <span class="checkmark"></span>
                                Others
                            </label>
                        </div>
                    </div>
                 </div>  

                 <div class="form-group">
                    <label for="" class="fields">CASTE CATEGORY</label>
                    <div class="row position">
    
                        <div class="col-sm-2">                       
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                GEN
                            </label>
                        </div>
                        <div class="col-sm-2">                        
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                OBC
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                SC
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                ST
                            </label>
                        </div>
                        <div class="col-sm-2">                                                
                            <label for="" class="radio name fieldlabels">
                                <input type="radio" class="radio-one" name="caste">
                                <span class="checkmark"></span>
                                Other
                            </label>
                        </div>
                    </div>
                 </div>
    
                 <div class="form-group">
                    <label for="" class="fields fieldlabels">  RELIGION</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Place a dropdown here">
                </div> 
                <div class="form-group">
                    <label for="" class="fields fieldlabels">  NATIONALITY</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Place a drop down here with Indian and Other">
                </div> 
            </div>              
             
            <div class="guardianinfo">
                <p class="infoheading">Guardian Information</p>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">GUARDIAN 1</label>
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <input type="text" name="g1fname" id="g1fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
                            
                            <input type="text" name="g1mname" id="g1mname" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="col-sm-4">
                            
                            
                           <input type="text" name="g1lname" id="g1lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    
                       
                    <div class="row position">                    
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE</label>
                            <input type="text" name="age" id="age" class="form-control" placeholder="Age of child">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE OF BIRTH</label>
                            <input type="date" name="dob" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                        </div>                      
                    </div>

                    
                </div>

                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">CONTACT NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <hr>
                <div class="form-group">
                    <label for="" class="fields">GUARDIAN 2</label>
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            
                            <input type="text" name="g2fname" id="g2fname" class="form-control" placeholder="First Name">
                        </div>
                        <div class="col-sm-4">
                            
                            <input type="text" name="g2mname" id="g2mname" class="form-control" placeholder="Middle Name">
                        </div>
                        <div class="col-sm-4">
                            
                            
                           <input type="text" name="g2lname" id="g2lname" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    
                       
                    <div class="row position">                   
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE</label>
                            <input type="text" name="age" id="age" class="form-control" placeholder="Age of child">
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE</label>
                            <input type="date" name="dob" id="dob" class="form-control" placeholder="dd-mm-yyyy">
                        </div>                       
                    </div>                   
                </div>
                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">CONTACT NUMBER</label>
                    <input type="text" name="adhaarnum" id="adhaarnum" class="form-control" placeholder="Aadhaar Number">
                </div> 
            </div>
           
        </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />

    </fieldset>
    <fieldset>

        <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Medical Information</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 2 - 4</h2>
                </div>
              </div>
              
              <div class="healthinfo">
                <p class="infoheading"></p>
                <hr>
                <div class="form-group">
                   
                   
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            <label for="" class="fields">BLOOD GROUP</label>
                            <input type="text" name="bloodgp" id="bloodgp" class="form-control" placeholder="Blood Group">
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="fields">HIEGHT</label>
                            <input type="text" name="hieght" id="hieght" class="form-control" placeholder="Hieght(in m)">
                        </div>
                        <div class="col-sm-4">
                            
                            <label for="" class="fields">WEIGHT</label> 
                           <input type="text" name="weight" id="weight" class="form-control" placeholder="Weight(in kgs)">
                        </div>
                    </div>
                    
                </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY CHRONIC ILLNESS</label>
                    <input type="text" name="chronicill" id="chronicill" class="form-control" placeholder="If yes then Specify the Illness">
                </div>
                <div class="form-group">
                    <label for="" class="fields">ALLERGIC TO ANY PARTICULAR MEDICINE/FOOD OR ANYTHING ELSE</label>
                    <input type="text" name="allergy" id="allergy" class="form-control" placeholder="If yes then Specify name of medicine">
                </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY PHYSICAL INJURIES</label>
                    <div class="row position">
                    
                        <div class="col-sm-3">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury">
                                <span class="checkmark"></span>
                                Cuts
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury">
                                <span class="checkmark"></span>
                                Burns
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury">
                                <span class="checkmark"></span>
                                Others
                            </label>
                        </div>
                        <div class="col-sm-3">
                            
                            
                            <label for="" class="radio name">
                                <input type="radio" class="radio-one" name="injury">
                                <span class="checkmark"></span>
                                None
                            </label>
                        </div>
                    </div>
                 </div> 
                 <div class="form-group">
                    <label for="" class="fields">PHYSICALLY CHALLENGED</label>
                    <input type="text" name="physicalchallenge" id="physicalchallenge" class="form-control" placeholder="Yes / No">
                </div> 
                <div class="form-group">
                    <label for="" class="fields">MENTAL ILLNESS</label>
                    <input type="text" name="mentalhealth" id="mentalhealth" class="form-control" placeholder="Yes / No">
                </div> 
                <div class="form-group">
                    <label for="" class="fields">ANY DISEASE FROM WHICH THE CHILD IS CURRENTLY SUFFERING</label>
                    <input type="text" name="disease" id="disease" class="form-control" placeholder="If yes then Specify name of disease">
                </div> 

                <div class="form-group">
                    <label for="" class="fields">Comments on the child's present and past health : </label>
                    <textarea type="textarea" name="disease" id="further-comments" class="form-control" placeholder=""> </textarea>
                </div> 
                <br>

                <label class="fieldlabels">Upload Medical Reports/ Prescription:</label>
              <input type="file" name="pic" accept="image/*" />
              <label class="fieldlabels">Upload Medical Reports/ Prescription:</label>
              <input type="file" name="pic" accept="image/*" />
            </div>

        </div>

            <input
              type="button"
              name="next"
              class="next action-button"
              value="Next"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
          </fieldset>
          
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Official Details:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 3 - 4</h2>
                </div>

              </div>

              <label class="fieldlabels">Child Care Institute ID : *</label>
              <input type="text" name="cci_id" placeholder=" ID" />
              <label class="fieldlabels">Child Care Institute Name : *</label>
              <input type="text" name="cci_name" placeholder=" Name" />
              <label class="fieldlabels">Address *</label>
              <input type="text" name="phno" placeholder="Contact No." />
              <label class="fieldlabels">Witness : </label> <%= employee.firstName + " " + employee.lastName %>
              

           

              
            </div>
            <input
              type="button"
              name="next"
              class="next action-button"
              value="Submit"
            />
            <input
              type="button"
              name="previous"
              class="previous action-button-previous"
              value="Previous"
            />
          </fieldset>
          <fieldset>
            <div class="form-card">
              <div class="row">
                <div class="col-7">
                  <h2 class="fs-title">Finish:</h2>
                </div>
                <div class="col-5">
                  <h2 class="steps">Step 4 - 4</h2>
                </div>
              </div>
              <br /><br />
              <h2 class="purple-text text-center">
                <strong>SUCCESS !</strong>
              </h2>
              <br />
              <div class="row justify-content-center">
                <div class="col-3">
                  <img
                    src="https://i.imgur.com/GwStPmg.png"
                    class="fit-image"
                  />
                </div>
              </div>
              <br /><br />
              <div class="row justify-content-center">
                <div class="col-7 text-center">
                  <h5 class="purple-text text-center">
                   Child has been registered
                  </h5>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</section>


<script src="/scripts/CWC/multi-step-form.js"> </script>

</body>

</html>




<!-- <label class="fieldlabels">Username: *</label>
              <input type="text" name="uname" placeholder="UserName" />
              <label class="fieldlabels">Password: *</label>
              <input type="password" name="pwd" placeholder="Password" />
              <label class="fieldlabels">Confirm Password: *</label>
              <input
                type="password"
                name="cpwd"
                placeholder="Confirm Password"
              /> -->