<!DOCTYPE html>
<html>
<head>
<style>
  body {
  background-color: #2196F3;
}

.grid-container {
  display: grid;
  height: 600px;
  justify-content: space-evenly;
  align-content: space-around;
  grid-template-columns: 200px 200px;
  grid-gap: 40px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: #2196F3;
  text-align: center;
  padding: 0 0;
  font-size: 10px;
}
.btn {
  border: 0px solid black;
  background-color:#ffffff;
  color: black;
  text-align: center;
  padding: 20px 150px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 20px;
}


.btn:hover{
  border: 2px solid black;

}
/* Blue */
.info {
  text-align: center;
  border-color: black;
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color:blanchedalmond;
}

a:link {
  text-decoration: none;
  color:blanchedalmond;
}

a:visited {
  text-decoration: none;
  color: dodgerblue;

}

a:hover {
  color:blanchedalmond;
}

a:active {
  color:blanchedalmond;
}
</style>
</head>
<body>


<div id = "Information">
  Email_ID : <%= employee.email %> <br>
  Name     : <%= employee.name %>  <br>
</div>

<div class="grid-container">
 <div><button class="btn info"><a href="/addChild" target="_blank">Child Registration</a></button></div> 
  <div><button class="btn info"><a href="/registerByCWC/cciEmployee" target="_blank">CCI Registration</a></button></div>
  <div><button class="btn info"><a href="/details" target="_blank">Eligibility Pool</a>  </button></div>
  <div><button class="btn info"><a href="/cciInfo" target="_blank">CCIs Details</a>  </button></div>
</div>


</body>
</html>