<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CWC Home Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rowdies&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="/stylesheets/CWC/content_home.css" />
  </head>
  <body>
    <section id="sideMenu">
      <nav>
        <a
          class="active current"
          href="/cwc/dashboard/:<%= employee.employee_id %>"
          ><i class="current2 fa fa-home" aria-hidden="true"></i>Home</a
        >
        <a class="active" href="index.html"
          ><i class="fa fa-id-badge" aria-hidden="true"></i>Child
          Registration</a
        >
        <a class="active" href="indexccireg.html"
          ><i class="fa fa-building" aria-hidden="true"></i>CCI Registration</a
        >
        <a class="active" href="indexemployeereg.html"
          ><i class="fa fa-id-badge" aria-hidden="true"></i>Employee
          Registration</a
        >
        <a class="active" href="indexpool.html"
          ><i class="fa fa-list-alt" aria-hidden="true"></i>Eligibility Pool</a
        >
        <a class="active" href="indexccidetails.html"
          ><i class="fa fa-info" aria-hidden="true"></i> CCI Details</a
        >
      </nav>
    </section>

    <header class="home-nav-container">
      <nav class="dashboard-nav navbar fixed-top navbar-light">
        <div class="container">
          <a class="dashboard-nav-brand navbar-brand" href="#">CARE</a>

          <div>
            <i class="dashoard-nav-icon fa fa-user"></i>
            <i class="dashoard-nav-icon fa fa-bell"></i>
          </div>
        </div>
      </nav>
      <nav class="dashboard-nav-second navbar fixed-top navbar-light">
        <div class="container">
          <a class="dashboard-nav-brand navbar-brand" href="#">CARE</a>
        </div>
      </nav>
    </header>

    <section>
      <div class="dashboard-home-content-container">
        <div id="content-area-1" class="container">
          <div class="parent-row row">
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
            <div class="home-main-content-grid-block col-12">
              One
            </div>
          </div>
        </div>

        <div id="content-area-2" class="container">
          <div class="parent-row row">
            <div class="home-grid-side-content-block col-12">
              One
            </div>
            <div class="home-grid-side-content-block col-12">
              One
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
