<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viewing Child Details</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Rowdies&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
  />
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="stylesheet" href="css/dashboard.css" />
  <link rel="stylesheet" href="css/child_info_viewcontent.css">
</head>
<body>
    <section id="sideMenu">
        <nav id="sidemenu-flexbox">
  
          <a
            class="active "
            href="home.html"
            title="Home"
            ><i class="fa fa-home" aria-hidden="true"></i
          ></a>
          <a
          class="active"
          href="indexregister.html"
          title="Registration Portal"
          ><i class="fa fa-user-plus" aria-hidden="true"></i>
        </a>
  
          <a
            class="active current"
            href="child_info.html"
            title="Children Under Care"
            ><i class="fa fa-child current2" aria-hidden="true"></i>
          </a>
  
          <a
            class="active"
            href="indexccidetails.html"
            title="Child Care Institutions under supervision"
            ><i class="fa fa-building" aria-hidden="true"></i
          ></a>
  
          <a
            class="active"
            href="indexccireg.html"
            title="Help"
            ><i class="fa fa-question" aria-hidden="true"></i
          ></a>
  
          <a class="active" href="indexccidetails.html" title="Log Out"
            ><i class="fa fa-sign-out-alt" aria-hidden="true"></i>
          </a>
  
        </nav>
      </section>
  
    <div clas="flex-vertical">
        <header>
          <nav class="dashboard-nav navbar fixed-top navbar-light">
            <div class="container">
              <a class="" href="#"></a>
    
              <div id="dashboard-icons-container">
    
                <h6 class="dashoard-nav-icon"><%= employee.email.toUpperCase() %></h6>
                <a href="" title="Profile">
                  <i class="dashoard-nav-icon fa fa-user"></i>
                </a>
                <a href="" title="Notifications"
                  ><i class="dashoard-nav-icon fa fa-bell"></i>
                </a>
                <a href="" title="Messages"
                  ><i class="dashoard-nav-icon fa fa-envelope"></i
                ></a>
                <a href="" title="Add Child"
                  ><i class="dashoard-nav-icon fa fa-plus"></i
                ></a>
    
              </div>
            </div>
          </nav>
          <nav class="dashboard-nav-second navbar fixed-top navbar-light">
            <div class="container">
              <a class="dashboard-nav-brand navbar-brand" href="#"> CARE</a>
            </div>
          </nav>
        </header>
    </div>