<section id="content-area">
    <div class="starting">
         <div class="row">
           <div class="col-md-6">
            <h2 class="head">CCI DETAILS</h2>
         
            <label for="" class="district">DISTRICT</label>  
            <label for="" class="name">JHANSI</label>
        
            <p class="number">Total Number Of Child Care Institutions</p>
             <p class="val">3</p>
           </div>
           <div class="col-md-6">
             <div class="required">
              <div class="required-image">
                <img src="img/action.svg" alt="an image">
              </div>
               <div class="required-content">
                 <h2 class="required-title">ACTION REQUIRED</h2>
                 <p class="required-text">ADD A NEW CCI <a href="#" class="required-buttons"> <i class="fa fa-plus display" aria-hidden="true"></i></a></p>
                 <p class="required-text">DELETE A CCI <a href="#" class="required-buttons2"> <i class="fa fa-trash display" aria-hidden="true"></i></a></p>
                 
               </div>
             </div>
           </div>
         </div>
    </div>
    <!--CCI details-->
    <div class="pos">
       
        <!--First Row-->
        <div class="row arrangement">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    
                    
                    <span class="cci-name">Mother Teresa Child Care</span>
                    <hr>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie1"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Total Strength</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">120</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie2"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Orphans</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">50</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie3"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Abandoned</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">70</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Surrendered</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">20</span>
                        </div>
                    </div>
                    <div class="btn"><a class="backbt" href="indexattendance1.html">Attendance List</a></div>
               </div>
                    
                
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    
                    
                    <span class="cci-name">St. Judes Child Care</span>
                    <hr>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie1"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Total Strength</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">120</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie2"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Orphans</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">50</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie3"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Abandoned</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">70</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Surrendered</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">20</span>
                        </div>
                    </div>
                    <div class="btn"><a class="backbt" href="indexattendance1.html">Attendance List</a></div>
               </div>
                    
                
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    
                    
                    <span class="cci-name">Snehalaya Child Care</span>
                    <hr>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie1"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Total Strength</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">120</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie2"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Orphans</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">50</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie3"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Abandoned</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">70</span>
                        </div>
                    </div>
                    <div class="row options">
                        <div class="col-md-8">
                            <span class="categorie4"><i class="fa fa-hand-o-right" aria-hidden="true"></i>  Surrendered</span>

                        </div>
                        <div class="col-md-4">
                            <span class="value">20</span>
                        </div>
                    </div>
                    <div class="btn"><a class="backbt" href="indexattendance1.html">Attendance List</a></div>
               </div>
                    
                
            </div>
            
        </div>
    </div>

</section>
