<%- include("../partials/headerCwcDashboard")%>

<section id="content-area" class="mt-5 pt-3">
  <div class="container mt-1 starting p-4">
    <div class="row">
      <div class="col-md-6">
        <h2 class="head">CCI DETAILS</h2>

        <label for="" class="district">DISTRICT</label>
        <label for="" class="name"><%= district.toUpperCase() %></label>

        <p class="number white-text">
          Total Number Of Child Care Institutions
        </p>
        <p class="val white-text">3</p>
      </div>
      <div class="col-md-6">
        <div class="required">
          <div class="required-image">
            <img src="/images/cwc/action.svg" alt="an image" />
          </div>
          <div class="required-content">
            <h2 class="required-title">ACTIONS</h2>
            <p class="required-text">
              ADD A NEW CCI
              <a
                href="/cwc/dashboard/newCciRegistraton/<%= employee.employee_id %>"
                class="required-buttons"
              >
                <i class="fa fa-plus display" aria-hidden="true"></i
              ></a>
            </p>
            <p class="required-text">
              DELETE A CCI
              <a href="#" class="required-buttons2">
                <i class="fa fa-trash display" aria-hidden="true"></i
              ></a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />

  <div class="content3">
    <div class="contain2">
        <div class="row">
          <% allCci.forEach(function(cci){ %>
            <div class="col-lg-4 my-4">
              
                <div class="card rounded-0">
                    <div class="card-header">
                        <h6 class="graph-title font-weight-bold mb-0">Mother Teresa Child Care</h6>
                        <p class="graph-info lead text-muted"><i class="fa fa-circle" aria-hidden="true"></i>CCI ID : CCI34</p>
                    </div>
                    <div class="card-body">

                        <p class="state border-bottom">TOTAL STRENGTH : 120</p>
                        <div class="row">
                            <div class="col-lg-6 d-flex stat my-3">
                                <div class="mx-auto">
                                <h6 class="card1 text-muted">Children Eligible for Adoption</h6>
                                <h3 class="value font-weight-bold">10</h3>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex my-3">
                                <div class="mx-auto">
                                <h6 class="card1 text-muted">Children in Waiting List</h6>
                                <h3 class="value font-weight-bold">15</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="graph-paragraph">Add a new CCI Employee <a href="#" class="graph-buttons"> <i class="fa fa-user-plus display" aria-hidden="true"></i></a></p>
                
                    </div> 
                </div>
                
            </div>
            <% }); %>   
        </div>
    </div>
</div>





  
    
  
</section>

<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>
