<%- include("../partials/headerCwcDashboard")%>

<section id="content-area">
        
    <!--heading-->
    <div class="child-view-starting">
       <a class="child-view-back" href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
       <a class="op" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
       <a class="op" href="#"><i class="fa fa-trash" aria-hidden="true"></i></a>
    </div>
        
    <!--details-->
    <div class="container">
       <form action="">
            <div class="personalinfo child-view">
                <!--image-->
                <div class="image">
                    <img src="/images/login/usericon.svg" alt="">
                    <div class="form-group">
                        <label for="" class="fields">CHILD NUMBER</label>
                        <label for="" class="values">01</label>
                    </div>
                    <div class="form-group">
                        <label for="" class="fields">CHILD ID</label>
                        <label for="" class="values">CCIM01</label>
                    </div>    
                                     
                </div>
                <hr>
                <div class="form-group">
                    <label for="" class="fields">Name Of Child</label>
                    <label for="" class="values">Monu</label>
                    
                </div> 
                <div class="form-group">
                
                   
                    <div class="row position">
                    
                        <div class="col-sm-6">
                            <label for="" class="fields">AGE OF CHILD</label>
                            <label for="" class="values">10</label>
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">DATE OF BIRTH</label>
                            <label for="" class="values">January 10,2010</label>
                        </div>
                       
                    </div>

                    
                </div>
                <div class="form-group">
                    <label for="" class="fields">AADHAAR NUMBER</label>
                    <label for="" class="values">724689189479719</label>
                </div> 
                <div class="form-group">
                    <label for="" class="fields">GENDER</label>
                    <label for="" class="values">Male</label>
                </div>
                <div class="form-group">
                    <div class="row position">
                    
                        <div class="col-sm-4">
                            <label for="" class="fields">BLOOD GROUP</label>
                            <label for="" class="values">A(+ve)</label>
                        </div>
                        <div class="col-sm-4">
                            <label for="" class="fields">HIEGHT</label>
                             <label for="" class="values">4 feet</label>  
                        </div>
                        <div class="col-sm-4">
                            
                            <label for="" class="fields">WEIGHT</label> 
                            <label for="" class="values">35 kgs</label>
                        </div>
                    </div>
                    
                </div> 
                
                <div class="form-group">
                    <div class="row position">
                    
                        <div class="col-sm-6">
                            <label for="" class="fields">GUARDIAN 1</label>
                            <div class="form-group">
                                <label for="" class="fields">NAME</label>
                                <label for="" class="values">Someone Pratap Singh</label>
                   
                            </div> 
                            <div class="form-group">
                                <label for="" class="fields">AGE</label>
                               <label for="" class="values">35</label>
                            </div> 
                        </div>
                        <div class="col-sm-6">
                            <label for="" class="fields">GUARDIAN 2</label>
                            <div class="form-group">
                                <label for="" class="fields">NAME</label>
                                <label for="" class="values">KBC Pratap Singh</label>
                               
                            </div> 
                            <div class="form-group">
                                <label for="" class="fields">AGE</label>
                               <label for="" class="values">40</label>
                            </div> 
                        </div>
                       
                    </div>
                </div>
               
                
                 <div class="form-group">
                    <label for="" class="fields">PHYSICALLY CHALLENGED</label>
                    <label for="" class="values">No</label>
                </div> 
                <div class="form-group">
                    <label for="" class="fields">MENTAL ILLNESS</label>
                    <label for="" class="values">No</label>
                </div> 
                
            
            
                <p class="infoheading">Official Information</p>
                <hr>
               
                <div class="form-group">
                    <label for="" class="fields">ASSIGNED CCI NAME</label>
                    <label for="" class="values">St. Judes Child Care</label>
                </div> 
                <div class="form-group">
                    <label for="" class="fields">REGISTRATION DATE</label>
                    <label for="" class="values">July 20,2019</label>
                </div>
               
                <div class="form-group">
                    <label for="" class="fields">WITNESS</label>
                    <label for="" class="values">CWCJHS11</label>
                </div> 
            
            
               
           
       </form>
    </div> 
</section>
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"
></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"
></script>
<script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
crossorigin="anonymous"
></script>
</body>
</html>