#content-area{
    margin-left: 250px;
    padding-top: 60px;
    background-image: linear-gradient(125deg,#2c3e50,#27ae50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bganimation 20s infinite;
    height: 100vh;

}
.main{
    padding: 15px;
}
.main .heading h1{
    color: #282639;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #282639;
}
.cards .card{
    background: #fff;
    border-radius: 5px;
    padding: 20px;

}

.col-md-4{
    width: 32%;
    padding: 0 10px;
    display: inline-block;
    
}
.cci-name{
    font-size: 1.2rem;
    color: purple;
    display: block;
    text-align: center;
    margin: 10px 0;
}


.backbt{
	display: block;
	width: 100%;
	height: 30px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,#282639,#382043,#F4F6F9);
	background-size: 200%;
	font-size: 1.1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
    margin-top: 10px;
    padding-top: 5px;
	cursor: pointer;
    transition: .5s;
    text-decoration: none;
}
.backbt:hover{
    background-position: right;
    text-decoration: none;
    color: black;
	
}
.card .fa{
    color: #382043;
}
.card .fa:hover{
    color: #39ff14;
}
.col-md-8{
    width: 66.6666%;
    padding: 0 15px;
}
.categorie1{
    color: purple;
}
.categorie2{
    color: orangered;
}
.categorie3{
    color: rgb(241, 9, 172);
}
.categorie4{
    color: green;
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}