#content-area{
    margin-left: 250px;
    padding-top: 60px;
    background-image: linear-gradient(125deg,#2c3e50,#27ae50,#27ae60,#2980b9,#e74c3c,#8e44ad);
    background-size: 400%;
    animation: bganimation 20s infinite;
    height: 100vh;

}
.main{
    padding: 15px;
}
.main .heading h1{
    color: purple;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 5px solid #282639;
}
.pos{
    float: left;
}
.pos1{
    float: right;
    padding-top: 0;
}

.btn{
    float: right;
    padding-left: 30px;
    padding-right: 30px;
}
.date{
    font-size: 1.1rem;
    font-weight: 200;
    color: purple;

}
.date2{
    color: #282639;
    border-radius: 6px;
    padding: 1px 10px;
}
.backbt{
	display: block;
	width: 100%;
	height: 30px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,#282639,#382043,#F4F6F9);
	background-size: 200%;
	font-size: 1.1rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
    margin-top: 10px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
	cursor: pointer;
    transition: .5s;
    text-decoration: none;
}
.backbt:hover{
    background-position: right;
    text-decoration: none;
    color: black;
	
}
/*table code*/
table{
    width: 100%;
    margin-top: 30px;

}
table thead{
   background: #282639;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
table thead th{
    font-size: 1rem;
    padding: 10px 10px;
    text-transform: uppercase;
    font-weight: 200px;
    color: #D3D3D3;
    text-align: left;
   
}
tbody{
   background: #fff;
    font-size: 1rem;

}
td{
    padding: 15px 10px;
    text-align: left;
    color: #282639;
}
.id{
    color: orangered;
}
.absent{
    color: rgb(173, 8, 8);
}
.present{
    color: rgb(17, 17, 138);
}
@keyframes bganimation{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}