#content-area{
    margin-left: 250px;
    background: url('../../images/cwc/child.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-attachment: fixed;
    height: 100vh;
    
}
.form-container{
    padding-top: 70px;
    
    
}
.heading{
    width: 800px;
    font-size: 0.2rem;
    background: rgba(0,0,0,0.8);
    margin: auto;
    color: #D3D3D3;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;

}
.main{
    background-color: rgba(0,0,0,0.5);
    width: 800px;
    margin: auto;
    
    border-radius: 0px 0px 15px 15px;
}
form{
    padding: 20px;
}
.name{
    color: #D3D3D3;
    font-size: 20px;
    font-weight: bold;
}
.full_name{
    width: 350px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;
    
}
.child-age{
    width: 350px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;
}
.cci{
    width: 550px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;
}
.cci-address{
    width: 700px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;
    margin-top: 25px;

}
.cci-id{
    width: 605px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;

}
.cwc{
    width: 590px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;

}
.date{
    width: 390px;
    padding-left: 2px;
    margin-top: 25px;
    border-radius: 6px solid #282639;
    color: #282639;
}
.option1{
    width: 610px;
    line-height: 5px;
    padding: 2px 10px;
    border-radius: 6px solid #282639;
    color: #282639;
    margin-top: 25px;
}
.radio{
    padding-left: 2px;
    padding-right: 30px;   
}
.check{
   padding-left: 10px;
   color: #D3D3D3; 
   font-size: 18px;
   padding-top: 0; 
   margin-top: 0; 
}
.pos{
    padding-left: 15px;
}
.position{
    margin-bottom: 5px;
    margin-top: 5px;
}
.btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right,#282639,#382043,#F4F6F9);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}