/* .form-container{
    padding-top: 100px;
    border: 2px solid red;
    
} */
.heading {
  width: 800px;
  font-size: 0.2rem;

  margin: auto;
  color: black;

  padding: 10px 0px 10px 0px;
  text-align: center;
}
.main {
  width: 900px;
  margin: auto;
  color: black;

  border-radius: 0px 0px 15px 15px;
}
.name {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  text-align: center;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f4f6f9;
}

#sideMenu {
  background: #7e04b6 !important; /*  #382043 */
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 99999;
  transition: all 0.3s ease;
}

nav {
  padding-top: 80px;
  background: #7e04b6;
}
a.active {
  display: block;
  color: #d3d3d3;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

.fa {
  color: #d3d3d3;
  font-size: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  width: 20px;
  position: relative;
  top: 2px;
}

a.active:hover {
  background: #ffffff;
  color: #7e04b6;
  text-decoration: none;
  border-left: 5px solid #4b056b;
}
a.active:hover i {
  color: #7e04b6;
}
.current {
  background: #ffffff !important; /*380450*/
  color: #380450 !important;
  border-left: 2px solid #ffffff;
}
.current2 {
  background: #f3f0f0 !important;
  color: #380450 !important;
}

/* header code*/
header {
  padding-right: 10px;
  background: #282639;
  height: 50px;
  width: 100%;
  z-index: 99999;
  position: fixed;
}
.logo {
  float: left;
  padding-top: 10px;
  padding-left: 60px;
  font-size: 24px;
  color: #d3d3d3;
}
.user-field {
  float: right;
}
.user-field a .fa {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  padding-top: 10px;
  padding-right: 20px;
  border: none !important;
}
.user-field a .fa:hover {
  text-decoration: none;
  color: #39ff14;
  border: none !important;
}
.fa-caret-down {
  font-size: 0.9em;
  position: relative;
  top: 0;
}
.fa-caret-down:hover {
  color: #39ff14;
}

/* By Shraddha */

.dashboard-nav {
  background-color: white;
  width: 100%;
  /* border-bottom: 0.05px solid white; */
}

.dashboard-nav-brand {
  /* border: 2px solid green;
  height: px;
  width: 250px; */
  color: white !important;
  font-family: "Rowdies", cursive;
  font-size: 35px;
}

.dashoard-nav-icon {
  color: #9c36cc;
}

.dashboard-nav-second {
  background-color: #7e04b6;
  width: 250px;
}

.dashboard-home-content-container {
  display: inline-flex;
  margin-top: 14vh !important;
  margin-left: 260px !important;
  justify-content: space-between;
  /* border: 2px solid red; */
  height: 100vh;
  width: 79%;
  /* background-color: pink; */
}

#content-area-1 {
  /* border: 2px solid green; */
  background-color: whitesmoke;
  width: 700px;
}

#content-area-2 {
  background-color: whitesmoke;
  width: 280px;
}

.parent-row {
  /* border: 2px solid black; */
}

.home-main-content-grid-block {
  background-color: #c88ce4;
  margin: 10px auto;
  max-width: 640px;
  height: 90px;
}

.home-grid-side-content-block {
  height: 220px;
  max-width: 250px;
  margin: 10px auto;
  background-color: white;
}

/* background color classes */

.crimson {
  background-color: #b80f0a !important;
}

.royalblue {
  background-color: royalblue !important;
}

.jade {
  background-color: #00a86b !important;
}

.salamander {
  background-color: #f05e23 !important;
}

 {
  background-color: !important;
}

 {
  background-color: !important;
}
