<%- include("../partials/headerDcpuDashboard")%>



    <!--Ending of dashboard and begining of home page content-->
    <section class="dcpu-content-area">
        <div class="dcpu-homecontent1">
            <div class="row title">
                <div class="col-lg-5">
                    <h1 class="dcpu-official-title font-weight-bold mb-0">DCPU Official Name</h1>
                    <p class="dcpu-official-location"><i class="fa fa-circle" aria-hidden="true"></i>Jhansi,UttarPradesh</p>
                </div>
                <div class="col-lg-3 ">
                    <div class="mx-auto information-child">
                        <h6 class="total-child-title">Total Number Of Children Under care</h6>
                        <h3 class="total-child-info">1120</h3>
                        </div>
                </div>
                <div class="col-lg-4 ">
                    <img class="dcpu-map" src="/images/map.svg" alt="">
                </div>
            </div>
        </div>
        <div class="dcpu-content2">
            <div class="dcpu-contain2">
                <div class="row">
                    <div class="col-lg-7 my-4">
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h6 class="graph-title font-weight-bold mb-0">District At Glance</h6>
                            </div>
                            <div class="card-body">
                                <canvas id="myChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 my-4">
                        <div class="card">
                            <div class="glance-header border-bottom">
                                <h4 class="glance-title">Highlights</h4>
                            </div>
                            <div class="glance-content my-3">
                                <div class="form-group">
                                    <label for="" class="text-muted glance-updates"><i class="fa fa-user-plus" aria-hidden="true"></i>Number of new child registered this week : </label>
                                    <label for="" class="updated-value">5</label>
                                </div>
                                <div class="form-group">
                                    <label for="" class="text-muted glance-updates"><i class="fa fa-building" aria-hidden="true"></i>Number of new CCIs registered this year : </label>
                                    <label for="" class="updated-values">1</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        
                        <div class="card">
                          <div class="glance-header border-bottom">
                            <h4 class="glance-title">Reports</h4>
                          </div>
                          <div class="glance-content my-3">
                            <div class="report-item">
                              <div class="repo-image">
                                <img src="/images/icons/usericon.svg" alt="" style="width: 50px;">
                              </div>
                              <div class="repo-info">
                                <p class="repo-sender-info">Sender's Name </p>
                                  <span class="concerned-subject">Short Subject</span><br>
                                <span class="repo-send-time text-muted">59 minutes ago</span>
                              </div>
                            </div>
                            <div class="report-item">
                              <div class="repo-image">
                                <img src="/images/icons/usericon.svg" alt="" style="width: 50px;">
                              </div>
                              <div class="repo-info">
                                <p class="repo-sender-info">Sender's Name </p>
                                   <span class="concerned-subject">Short Subject</span><br>
                                <span class="repo-send-time text-muted">59 minutes ago</span>
                              </div>
                            </div>
                           
                          </div>

                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="dcpu-contain3">
            <div class="card news my-3">
                <div class="news-header border-bottom">
                    <h4 class="glance-title">@CARE News</h4>
                </div>
                <div class="glance-content my-3">
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child ID CCIM01,CCI ID JHUP009,Child Name Monu Has been added to the Adoption Pool on July 24,2020 </label>
                        
                    </div>
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                    <div class="form-group border-bottom  pl-2">
                        <label for="" class="news-updates"><i class="fa fa-newspaper-o pr-3" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                    <div class="form-group pl-2">
                        <label for="" class="news-updates"><i class="fa pr-3 fa-newspaper-o" aria-hidden="true"></i>Child Name Guddu,Child ID CCIG05 has been shifted from CCI ID JHUP001 to CCI ID JHUP009 on July 15,2020  </label>
                        
                    </div>
                   
                </div>
        </div>
    </section>
    
    
    <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
  <script> 
  var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: ['Number Of CWCs', 'Number of CCIs', 'Children eligible for adoption', 'Children in Waiting List'],
        datasets: [{
            label: 'Jhansi District Database',
            backgroundColor: [
                '#12C9E5',
                '#12C9E5',
                '#111B54',
                '#12C9E5'
            ],
            maxBarThickness:50,
            borderColor: 'rgb(255, 99, 132)',
            
            data: [2,3,35,10]
        }]
    },

    // Configuration options go here
    options: {}
    });
</script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
    </body>
  </html>
  