<form action="/registerNewAdmin" method="POST">
  employee_id : <input type="text" name="employee_id" /> <br />
  firstName :
  <input type="text" name="firstName" /><br />
  middleName :
  <input type="text" name="middleName" /><br />
  lastName
  <input type="text" name="lastName" /><br />
  contactNumber
  <input type="text" name="contactNumber" /><br />
  email
  <input type="text" name="email" /><br />
  password
  <input type="text" name="password" /><br />
  <label>autherisation_level</label>
  <select id="autherisation_level">
    <option value="national">National</option>
    <option value="state">State</option>
    <option value="district">District</option>
  </select>
  <br />
  <input type="submit" name="" id="" />
</form>
