<html>
    <head></head>

    <body>
        <h1>Hello Admin --Someone. Who do you want to register?</h1>
        <br><a href="/registerByAdmin/cwcemployee">A CWC Employee   </a>
        <br><a href="/registerByAdmin/cciemployee">Another Oficial</a>
        
    </body>
</html>